
streamlit==1.46.1
fastapi==0.115.9
uvicorn==0.34.3
langgraph==0.4.5
langchain==0.3.26
langchain-core==0.3.66
langchain-community==0.3.26
langchain-groq==0.3.4
langchain-huggingface==0.0.3
groq==0.28.0
transformers==4.46.3
sentence-transformers==4.1.0
huggingface-hub==0.33.0
PyMuPDF==1.26.1
faiss-cpu==1.11.0
langchain-text-splitters==0.3.8
duckduckgo_search==8.0.4
python-dotenv==1.1.0
pydantic==2.11.7
requests==2.32.4
tqdm==4.67.1
